@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

html {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  background: #7292A1;
}

/**************
     MAIN
***************/

#main {
  background: #7292A1;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}


/**************
SECTION MAIN-IMG
***************/

#main-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 3.6em;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding: 45px 0 45px 0;
  background-color: #ECF1F4;
  -webkit-box-shadow: 4px 5px 18px 3px rgba(0,0,0,0.73); 
  box-shadow: 4px 5px 18px 3px rgba(0,0,0,0.73);
}

#img-caption {
  padding-top: 45px;

  text-align: center;
  font-size: 1.6em;
}

/**************
SECTION TRIBUTE-INFO
***************/

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 2.4em;
}

li {
  font-size: 1.2em;
  max-width: 30vw;
  list-style: none;
  padding-bottom: 10px;
}

.li-p {
  font-size: 0.9em;
  color: #0F1A20;
}

.story-li-bold {
  font-size: 1.7rem;
  font-weight: 900;
  color: #000000;
}

#tribute-link {
  font-size: 1.2em;
  text-decoration: none;
  color: #0F1A20;
}

#tribute-link:hover {
  transition: 0.5s;
  color: #00FFCD;
}

/***********
MEDIA QUERY
************/

@media (max-width: 768px) {
  #img-caption {
    font-size: 1.2em;
  }
  #img-div {
    width: 80vw;
  }
  li {
    max-width: 80vw;
  }
  #logo-img {
    width: 80%;
  }
}

@media (max-width: 425px) {
  #tribute-link {
    font-size: 1em;
  }
  #logo-img {
    width: 80%;
  }
}

@media (max-width: 390px) {
  #title {
    font-size: 3em;
  }
}

@media (max-width: 300px) {
  #title {
    font-size: 2.7em;
    text-align: center;
  }
}